.login-data{
    height: 535px;
    width: 1280px;
    overflow: hidden;
    position: relative;
    img{
        background-size: cover;
        background-position: center;
        height: 535px;
        width: 1280px;
        object-fit: cover;
        position: relative;
        display: block;
        opacity: 90%;
        z-index: -1;
    }
    .login-box{
        h1{
            text-align: center;
            margin-top: 30px;
            letter-spacing: 1px;
            color: rgba(29, 121, 186, 0.922);
            font-size: 46px;
            font-weight: 900;
        }
        width: 600px;
        height: 400px;
        background: rgba(0,0,0,0.4);
        color: #fff;
        top:50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        .login-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            .input-email,.input-password,.input-name{
                width: 350px;
                display: flex;
                align-items: center;
                margin-bottom: 22px;
                input{
                    width: 100%;
                    padding: 10px;
                    letter-spacing: 1px;
                    font-size: 14px;
                    font-weight: 400;
                    outline: none;
                    border: none; 
                    box-shadow: 0 0 3pt 0.3pt #D3D3D3;
                }
            }
        }
        .auth-btn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                width: 130px;
                text-align: center;
                background-color: rgb(187, 59, 123);
                color: #fff;
                padding: 10px;
                outline: none;
                border: none;
                margin-top: 20px;
                margin-left: 130px;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                text-transform: uppercase;
                transition: .3s ease-in-out;
                &:hover{
                    background-color: rgba(116, 13, 64, 0.694);
                    transform: scale(1.1);
                }
            }
            .reg{
                margin-right: 40px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                text-decoration: underline;
                color: whitesmoke;
                &:hover{
                   color: rgba(190, 71, 24, 0.916);
                }
            }
        }
    }
}